hadaboni.work {
    tls /etc/caddy/certs/hadaboni.work.pem /etc/caddy/certs/hadaboni.work.key

    handle /kstock/* {
        uri strip_prefix /kstock
        reverse_proxy kstock:4000
    }

    reverse_proxy frontend:8080
}